body {
  margin: 0;
  background-color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  width: 30vw;
  height: 60vh;
  min-width: 500px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FFEB3B;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.login-form > input {
  color: black;
  background-color: #fff;
  box-sizing: border-box;
  width: 350px;
  padding: 15px 10px;
  border: 0.5px solid #ccc;
  border-radius: 2px;
}

.login-form > input:focus {
  outline: none;
  border: 0.5px solid black;
}

.login-form > button {
  width: 350px;
  margin-top: 10px;
  color: black;
  background-color: white;
  border: 0.5px solid #ccc;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form > button:hover {
  background-color: lightgray;
}

.login-form > button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

.login-form > p {
  margin-top: 10px;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.login-form > p:hover {
  color: gray;  
}

.login-error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  color: black;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal > button {
  color: black;
  background-color: #FFEB3B;
  border: none;
  transition: background-color 0.3s;
}

.modal > button:hover {
  background-color: #FFD700;
}

.modal > button:focus {
  outline: none;
}