/* 유저 정보 수정 필드 */
.user-profile > .modify-input {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

/* 나와의 채팅, 프로필 수정 버튼 */
.user-profile-func {
  margin: 20px;
}

.user-profile-func > button {
  width: 110px;
  margin: 10px;
  padding: 15px;
  color: black;
  border: none;
  background-color: #ffeb3b;
  transition: background-color 0.3s;
}

.user-profile-func > button:focus {
  outline: none;
}

.user-profile-func > button:hover {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fbc02d;
}

.user-profile-func > button:disabled {
  color: white;
  background-color: #ccc;
  cursor: not-allowed;
}
