body {
  margin: 0;
  background-color: white;
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
  width: 30vw;
  height: 60vh;
  min-width: 500px;
  min-height: 800px;
  box-sizing: border-box;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  color: black;
  background-color: white;
}

/* 최상단 헤더 */
.chat-list-title {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffeb3b;
  box-sizing: border-box;
  padding: 30px 20px;
  text-align: left;
}

.chat-list-title > h2 {
  margin: 0px;
  font-size: 24px;
}

.chat-list-content {
  overflow-y: auto;
  width: 100%;
}
