/* 유저 정보 수정 필드 */
.user-profile > .modify-input {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.modify-input:focus {
  outline: none;
  border: 0.5px solid #00c896;
}

/* 취소, 프로필 저장 버튼 */
.user-profile-func {
  margin: 20px;
}

.user-profile-func > button {
  width: 110px;
  margin: 10px;
}
