.who-send-chat {
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 10px;
  width: 100%;
  height: 40px;

  background-color: #eee;
  border: none;
}

.who-send-chat > label {
  margin-right: 10px;
}
