body {
  background-color: white;
  color: white;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 30vw;
  height: 60vh;
  min-width: 500px;
  min-height: 800px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/bgImg.png");
  background-size: cover;
}

.user-profile-header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.user-profile-header > p {
  color: white;
  font-size: 18px;
  cursor: pointer;
}
