body {
  background-color: white;
  color: white;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  width: 30vw;
  height: 60vh;
  min-width: 500px;
  min-height: 800px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/bgImg.png");
  background-size: cover;
}

.user-profile-header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.user-profile-header > p {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* 유저 이름 */
.user-profile > h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* 프로필사진 */
.user-profile > img {
  width: 130px;
  border-radius: 30%;
  margin: 20px;
}

/* 유저 정보 수정 필드 */
.user-profile > .modify-input {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

/* 나와의 채팅, 프로필 수정 버튼 */
.user-profile-func {
  margin: 20px;
}

.user-profile-func > button {
  width: 110px;
  margin: 10px;
  padding: 15px;
  color: black;
  border: none;
  background-color: #FFEB3B;
  transition: background-color 0.3s;
}

.user-profile-func > button:focus{
  outline: none;
}

.user-profile-func > button:hover {
  border:none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FBC02D;
}
