.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  color: black;
  background: white;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.modal > p {
  font-size: 20px;
}
.modal > button {
  color: black;
  background-color: #ffeb3b;
  border: none;
  transition: background-color 0.3s;
  margin-top: 30px;
}

.modal > button:hover {
  background-color: #ffd700;
}

.modal > button:focus {
  outline: none;
}
