/* 채팅방 리스트 공통 셋팅 */
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  transition: background-color 0.3s;
  position: relative;
}

.profile-container:hover {
  background-color: #eee;
}

.profileText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.profileText > p,
h3 {
  margin: 7px 0px;
}

.profileText > h3 {
  font-size: 20px;
}

.profileText > p {
  font-size: 14px;
}

/* 프로필 이미지 */
.profileImg {
  width: 70px;
  height: 70px;
  margin: 5px;
  margin-right: 15px;
  border-radius: 30%;
  cursor: pointer;
}

/* 나와의 채팅 버튼 */
.my-chat-room-btn {
  color: black;
  background-color: #ccc;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;

  /* 오른쪽에 붙이기 */
  position: absolute;
  right: 15px;

  border: none;
  transition: background-color 0.3s;
}

.my-chat-room-btn:hover {
  outline: none;
  background-color: #ffeb3b;
}

.profile-container > .last-chat-time {
  position: absolute;
  right: 15px;
}
