body {
  margin: 0;
  background-color: white;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 30vw;
  height: 60vh;
  min-width: 500px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* 로고 + 회원가입 타이틀 */
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.title > p {
  white-space: nowrap;
  color: black;
  font-size: 30px;
}

.title > img {
  width: 80px;
  height: auto;
  margin: 0;
}

/* 정보 입력 필드 */
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.signup-form-field {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0;
}

/* label + input 요소 */
.info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info > label {
  color: black;
  display:inline-block;
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.info > input {
  color: black;
  background-color: #fff;
  width: 270px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.info > input:focus {
  outline: none;
  border: 1px solid black;
}

/* 에러메시지 */
.signup-error-message {
  margin-top: 3px;
  font-size: 12px;
  color: red;
  width: 100%;
  margin-left: 130px;
}

/* 회원가입 완료 버튼 */
.signup-form-field > button {
  width: 400px;
  margin-top: 10px;
  color: black;
  background-color: #FFEB3B;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.signup-form-field > button:focus{
  outline: none;
}

.signup-form-field > button:hover {
  border:none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #FFE000;
}

.signup-form-field > button:disabled {
  color: white;
  background-color: #ccc;
  cursor: not-allowed;
}

/* 로그인 화면으로 돌아가기 */
.signup-form-field > p {
  margin-top: 10px;
  color: black;
  text-align: center;
  transition: color 0.3s;

  cursor: pointer;
}

.signup-form-field > p:hover {
  color: red;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 300px;
  color: black;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal > button {
  color: black;
  background-color: #FFEB3B;
  border: none;
  transition: background-color 0.3s;
}

.modal > button:hover {
  background-color: #FFD700;
}

.modal > button:focus {
  outline: none;
}