.signup-form-field {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0;
}

/* 회원가입 완료 버튼 */
.signup-form-field > button {
  width: 400px;
  margin: 10px 0px;
  color: black;
  background-color: #ffeb3b;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.signup-form-field > button:focus {
  outline: none;
}

.signup-form-field > button:hover {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fbc02d;
}

.signup-form-field > button:disabled {
  color: white;
  background-color: #ccc;
  cursor: not-allowed;
}

/* 로그인 화면으로 돌아가기 */
.signup-form-field > p {
  margin-top: 10px;
  color: black;
  text-align: center;
  transition: color 0.3s;

  cursor: pointer;
}

.signup-form-field > p:hover {
  color: red;
}

/* label + input 요소 */
.info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info > label {
  color: black;
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.info > input {
  color: black;
  background-color: #fff;
  width: 270px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.info > input:focus {
  outline: none;
  border: 1px solid black;
}

/* 에러메시지 */
.signup-error-message {
  margin-top: 3px;
  font-size: 12px;
  color: red;
  width: 100%;
  min-height: 16px;
  visibility: visible;
  margin-left: 130px;
}
